 <nav class="navbar">
    <a class="brand" routerLink="/">Resume</a>
    <ul class="navlinks">
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Главная</a></li>
      <li><a routerLink="/courses" routerLinkActive="active">Курсы</a></li>
      <li><a routerLink="/projects" routerLinkActive="active">Проекты</a></li>
      <li><a routerLink="/practice" routerLinkActive="active">Практика</a></li>
      <li><a routerLink="/selfdev" routerLinkActive="active">Саморазвитие</a></li>
      <li><a routerLink="/about" routerLinkActive="active">Обо мне</a></li>
    </ul>
</nav>