<header class="header">
    <div class="container">
        <div class="header__inner">
            <img class="avatar" src="assets/images/photo.jpg" alt="Фото"> <!--фото для шапки-->
            <div class="info">
                <h1 class="name">Иванов Егор Игоревич</h1>
                <p class="title">Студент-разработчик: Angular, Python, Linux</p>
                <p class="pitch">Реализую инновационные IT-решения, повышающие эффективность, и оперативно устраняю любые технологические барьеры</p>
                <a routerLink="/projects" class="btn-cta">Смотреть проекты</a>
            </div>
        </div>
    </div>
</header>