<section class="projects-page container">

  <h2 class="section-title">Проекты</h2>

  <ng-container *ngIf="projects$ | async as projects; else loading">

    <div *ngIf="projects.length === 0" class="empty">
      Проекты не найдены
    </div>

    <div class="grid">
      <article
        class="project-card"
        *ngFor="let project of projects; trackBy: trackById"
      >

        <img
          *ngIf="project.image"
          [src]="project.image"
          [alt]="project.title"
          loading="lazy"
        />

        <h3>{{ project.title }}</h3>
        <p class="description">{{ project.description }}</p>

        <p class="role">
          <strong>Роль:</strong> {{ project.role }}
        </p>

        <p class="tech">
          <strong>Технологии:</strong>
          {{ project.technologies.join(', ') }}
        </p>

        <div class="actions">
          <a *ngIf="project.link" [href]="project.link" target="_blank">
            Ссылка
          </a>
          <a *ngIf="project.repo" [href]="project.repo" target="_blank">
            Репозиторий
          </a>
          <a *ngIf="project.docs" [href]="project.docs" target="_blank">
            Документация
          </a>
          <a *ngIf="project.certificate" [href]="project.certificate" target="_blank">
            Сертификат
          </a>
           <a *ngIf="project.presentation" [href]="project.presentation" target="_blank">
            Презентация
          </a>
        </div>

      </article>
    </div>

  </ng-container>

  <ng-template #loading>
    <p class="loading">Загрузка проектов…</p>
  </ng-template>

</section>
